body {
	max-width: 1024px;
	margin: 0 auto;
	font-family:
		Segoe UI,
		Helvetica Neue,
		-apple-system,
		system-ui,
		BlinkMacSystemFont,
		Roboto,
		Arial,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol;
	font-size: 1.4rem;
	overflow-y: scroll;
}
